@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<br />

<h4>We will provide the best trash service pick ups at the most reasonable rates!</h4>

<br />

<h5>We are proudly a hundred percent bear staffed and owned. We can move trash others can't!</h5>

<br />
<br />
<h2> Our Big Boys In Action </h2>
<br />
<img src="~/bear-break-in.jpg" width="500" height="600" />
<br />
<img src="~/Bear-looking-at-trash-Aspen-CO450.jpg" width="500" height="600" />
<br />
<img src="~/Beartrash.jpg" width="500" height="600" />
<br />
<img src="~/bear_at_office.jpg"  width="500" height="600"  />