@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    633 North Polar Way <br />
    Madison, WI 53719<br />
    <abbr title="Phone">P:</abbr>
    608.603.6571
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Dan@BigBearTrash.com">Dan@BigBearTrash.com</a><br />    
</address>