
@{
    ViewBag.Title = "Access Denied";
}

<h2>@ViewBag.Title</h2>
<h4>You are attempting to access a portal that you do not have permission to access. Please log in with the correct account to access the 
    correct portal or return to home page above.</h4>

