@{
    ViewBag.Title = "Sign Up";
}

<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>We will provide the best trash service pick ups at the most reasonable rates!As of now we are running a current promotion where first trash pick up is free with a 12 month commitment1</p>