@{
    ViewBag.Title = "Sign Up";
}

<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    We will provide the best trash service pick ups at the most reasonable rates!As of now we are running a current promotion where first trash pick up is free with a 12 month commitment!
    We currently service the following area codes: 53719, 53711, 53513, 53710 and 53715.
</p>